<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/Erronka3/src/erronka3/Login.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="erronka3.Login"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="Erronka3"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Erronka3"/>
</launchConfiguration>
